.title,
.index-img {
  display: block;
  margin: 0 auto; }

.index-img {
  width: 100%;
  height: 400px; }

@media all and (min-width: 992px) and (max-width: 1199px) {
  .image-box {
    padding: 10% 0; } }
@media all and (min-width: 768px) and (max-width: 991px) {
  .image-box {
    padding: 10% 0; } }

.collaborate-img {
  width: 400px;
  height: auto;
  border-radius: 12px;
  display: block;
  margin: 10px auto 0 auto; }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .collaborate-img {
      width: 300px; } }
  @media all and (max-width: 479px) {
    .collaborate-img {
      width: 300px; } }

@font-face {
  font-family: 'street_credregular';
  src: url("../fonts/street-cred/street_cred-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/street-cred/street_cred-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/street-cred/street_cred-webfont.woff") format("woff"), url("../fonts/street-cred/street_cred-webfont.woff2") format("woff2"), url("../fonts/street-cred/street_cred-webfont.ttf") format("truetype"), url("../fonts/street-cred/street_cred-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
p {
  text-align: justify; }

a {
  color: #265e5e;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #44aaaa;
    text-decoration: none; }
  a:visited {
    color: #265e5e;
    text-decoration: underline; }

.orange {
  color: #ff9b37; }

.bluegreen {
  color: #265e5e; }

.top-space {
  margin-top: 5%; }

.padded {
  padding: 0 2%; }

.centered {
  text-align: center; }

.logo {
  color: #ff9b37;
  font-family: "street_credregular", "Arial Black", "Arial Bold", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em; }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .logo {
      font-size: 3em; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .logo {
      font-size: 3em; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .logo {
      font-size: 2em; } }
  @media all and (max-width: 479px) {
    .logo {
      font-size: 2em; } }
  .logo.record {
    color: #265e5e; }

.ex-large {
  margin-top: 2.5%;
  font-size: 8em; }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .ex-large {
      font-size: 6em; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .ex-large {
      font-size: 6em; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .ex-large {
      font-size: 5em; } }
  @media all and (max-width: 479px) {
    .ex-large {
      font-size: 5em; } }

.ex-small {
  font-size: 2vw; }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .ex-small {
      font-size: 2vw; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .ex-small {
      font-size: 3vw; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .ex-small {
      font-size: 5vw; } }
  @media all and (max-width: 479px) {
    .ex-small {
      font-size: 5vw; } }

.recordingcontainer {
  width: 75%;
  height: 75px;
  display: block;
  margin: 0 auto; }

.recording {
  color: #265e5e;
  font-family: "street_credregular", "Arial Black", "Arial Bold", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em; }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .recording {
      font-size: 3em; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .recording {
      font-size: 3em; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .recording {
      font-size: 2em; } }
  @media all and (max-width: 479px) {
    .recording {
      font-size: 2em; } }

.subtitle,
.section-title {
  color: #265e5e;
  text-transform: uppercase;
  text-align: center; }
  .subtitle.listen,
  .section-title.listen {
    margin-bottom: 10px; }

.fa-anch {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  font-size: 1.25em;
  color: #ff9b37; }
  .fa-anch:hover, .fa-anch:active, .fa-anch:focus {
    color: #444444; }

.p-pad {
  padding: 0 5%; }
  .p-pad.large {
    padding: 0 2.5%; }

.bold {
  font-weight: 700; }

.title {
  color: white;
  font-family: "street_credregular", "Arial Black", "Arial Bold", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 700%; }
  .title.bg {
    color: #265e5e; }
  .title.orange {
    color: #ff9b37; }

.more-button,
.contact-button {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  border-radius: 6px;
  background: white;
  color: #ff9b37;
  border: 2px solid #ff9b37;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 1.25em;
  text-transform: uppercase;
  display: block;
  margin: 1% auto;
  width: 200px; }
  .more-button:hover, .more-button:focus, .more-button:active,
  .contact-button:hover,
  .contact-button:focus,
  .contact-button:active {
    background: #ff9b37;
    color: white;
    border: 2px solid white; }
  .more-button:visited,
  .contact-button:visited {
    background: white;
    color: #ff9b37;
    border: 2px solid #ff9b37; }
  .more-button.tall-space,
  .contact-button.tall-space {
    margin: 2.5% auto; }

.contact-button {
  width: 250px;
  background: #265e5e;
  color: white;
  border: 2px solid #265e5e; }
  .contact-button:hover, .contact-button:focus, .contact-button:active {
    background: white;
    color: #265e5e;
    border: 2px solid #265e5e; }
  .contact-button:visited {
    background: #265e5e;
    color: white;
    border: 2px solid #265e5e; }

body {
  background: white;
  color: #6b6b6b;
  font-size: 16px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; }

.no-pad {
  padding: 0; }

.header {
  position: fixed;
  z-index: 10;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
  line-height: 50px;
  vertical-align: middle;
  border-bottom: 1px solid #141414; }

.custom-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 50px;
  position: absolute;
  top: 0;
  right: 50px; }
  .custom-navbar li {
    display: inline;
    color: red;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 0 2px; }

.logo-text {
  padding: 0 1%;
  margin: 10px 0;
  vertical-align: inherit;
  font-family: "street_credregular", "Arial Black", "Arial Bold", sans-serif; }

.body-content {
  margin: 50px 0; }

.paragraph-box {
  width: 100%;
  height: 150px; }

.email {
  height: 50px;
  width: 50px;
  right: 0;
  top: 0;
  position: absolute; }

.divider {
  width: 100%;
  height: 1px;
  background: #cccccc;
  margin: 1% 0; }

.hannah {
  position: fixed;
  bottom: 0;
  z-index: 10;
  height: 50px;
  width: 100%;
  background: white; }
  .hannah .tc {
    margin-left: 5%; }

body {
  background: white; }

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0; }
  .fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 33%;
    opacity: 0.50;
    filter: alpha(opacity=50); }

.logo-box {
  width: 100%;
  height: 200px;
  z-index: 5;
  position: absolute;
  top: 25%; }

.gear-list {
  list-style-type: none;
  padding: 0 5%;
  margin: 0;
  font-weight: 700; }

.gear-box {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: auto; }
  @media all and (max-width: 479px) {
    .gear-box {
      width: 320px; } }

.g-title {
  color: #ff9b37;
  font-size: 1.25em; }

.help-list {
  list-style-type: none;
  padding: 0 5%;
  margin: 0;
  text-align: justify; }

.help-item {
  font-weight: 700; }

.artist-box {
  width: 90%;
  height: auto;
  margin: 2.5% 5%;
  border: 0 !important; }
  .artist-box .artistimage {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: block;
    margin: 2.5% auto; }
  .artist-box .paragraph-box {
    width: 90%;
    height: 300px;
    margin: 5%;
    position: relative;
    border: 0 !important; }
  .artist-box .test-p {
    text-align: justify; }
  .artist-box .artistname {
    color: #ff9b37;
    font-family: "street_credregular", "Arial Black", "Arial Bold", sans-serif;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase; }
    .artist-box .artistname.bg {
      color: #265e5e; }
  .artist-box .artistlink {
    font-family: "street_credregular", "Arial Black", "Arial Bold", sans-serif;
    color: #ff9b37;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    border: 0 !important; }
    .artist-box .artistlink:hover, .artist-box .artistlink:active, .artist-box .artistlink:focus {
      color: #aaaa00;
      text-decoration: none;
      border: 0 !important; }
    .artist-box .artistlink:visited {
      color: #ff9b37;
      text-decoration: none;
      border: 0 !important; }

.music-box {
  display: block;
  margin: 10px auto;
  height: 520px; }
  @media all and (min-width: 1200px) {
    .music-box {
      width: 400px; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .music-box {
      width: 385px; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .music-box {
      width: 375px; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .music-box {
      width: 350px; } }
  @media all and (max-width: 479px) {
    .music-box {
      width: 320px; } }

.playlists {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .playlists .playlist {
    width: 200px;
    height: 25px;
    padding: 0;
    margin: 2px auto; }
  .playlists .playlist-arrow {
    color: #ff9b37;
    text-decoration: none; }
    .playlists .playlist-arrow:hover, .playlists .playlist-arrow:active, .playlists .playlist-arrow:focus, .playlists .playlist-arrow:visited {
      color: #ff9b37;
      text-decoration: none; }
