.more-button {
  border-radius: 6px;
  background: $white;
  color: $orange;
  border: 2px solid $orange;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 1.25em;
  text-transform: uppercase;
  display: block;
  margin: 1% auto;
  width: 200px;
  &:hover, &:focus, &:active {
    background: $orange;
    color: $white;
    border: 2px solid $white;
  }
  &:visited {
    background: $white;
    color: $orange;
    border: 2px solid $orange;
  }
}