.title,
.index-img {
  display: block;
  margin: 0 auto;
}

.index-img {
  width: 100%;
  height: auto;
}

.image-box{
  @include breakpoint(desktop){
    padding: 10% 0;
  }
  @include breakpoint(tablet){
    padding: 10% 0;
  }
}

.collaborate-img {
  width: 400px;
  height: auto;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
  @include breakpoint(mobile){
    width: 300px;
  }
  @include breakpoint(iphone){
    width: 300px;
  }
}



