@font-face {
    font-family: 'street_credregular';
    src: url('../fonts/street-cred/street_cred-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/street-cred/street_cred-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/street-cred/street_cred-webfont.woff') format('woff'), /* Modern Browsers */
         url('../fonts/street-cred/street_cred-webfont.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/street-cred/street_cred-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/street-cred/street_cred-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */

}

$disco: 'street_credregular', 'Arial Black', 'Arial Bold', sans-serif;

$serif: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;

p {
  text-align: justify;
}

a{
  color: $blue-green;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $aqua;
    text-decoration: none;
  }
  &:visited {
    color: $blue-green;
    text-decoration: underline;
  }
}

.orange {
  color: $orange;
}

.bluegreen {
  color: $blue-green;
}

.top-space{
  margin-top: 5%;
}

.padded {
  padding: 0 2%;
}

.centered {
  text-align: center;
}

.logo {
  color: $orange;
  font-family: $disco;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  @include breakpoint(desktop){
    font-size: 3em;
  }
  @include breakpoint(tablet){
    font-size: 3em;
  }
  @include breakpoint(mobile){
    font-size: 2em;
  }
  @include breakpoint(iphone){
    font-size: 2em;
  }
  &.record {
    color: $blue-green;
  }
}

.recordingcontainer {
  width: 75%;
  height: 75px;
  display: block;
  margin: 0 auto;
}

.recording {
  color: $blue-green;
  font-family: $disco;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  @include breakpoint(desktop){
    font-size: 3em;
  }
  @include breakpoint(tablet){
    font-size: 3em;
  }
  @include breakpoint(mobile){
    font-size: 2em;
  }
  @include breakpoint(iphone){
    font-size: 2em;
  }

}
// .recording {
//   color: $blue-green;
//   font-family: $disco;
//   text-transform: uppercase;
//   text-align: center;
//   font-size: 45px;
//   font-size: 4.5vw;
// }

.subtitle,
.section-title {
  color: $blue-green;
  text-transform: uppercase;
  text-align: center;
}

.fa-anch {
  @include link-transition(500ms);
  color: $orange;
  &:hover, &:active, &:focus {
    color: $charcoal;
  }
}

.p-pad {
  padding: 0 5%;
  &.large {
    padding: 0 2.5%;
  }
}

.bold {
  font-weight: 700;
}

.title {
  color: $white;
  font-family: $disco;
  text-transform: uppercase;
  text-align: center;
  font-size: 700%;
  &.bg {
    color: $blue-green;
  }
  &.orange {
    color: $orange;
  }
}









