//old site colors:
$white: #ffffff;
$black:  #222222;
$lt-gray: #CCCCCC;
$dk-gray: #989898;
$orange: #FF9B37;
$blue: #0000FF;
$purple: #660099;

//maybe new site colors
$lt-gray: #CCCCCC;
$lt-gray2: #aaaaaa;
$rich-gray: #5e5e5e;
$gray: #6B6B6B;
$charcoal: #444444;
$black: #141414;
$white: #ffffff;

$lt-aqua: #66FFFF;
$aqua: #44AAAA;
$md-aqua: #2B6B6B;
$blue-green: #265E5E;
$jade: #1B4444;

$yellow: #FFFF00;
$gold: #AAAA00;
$dull-gold: #6B6B00;
$olive: #5E5E00;
$dk-olive: #444400;

// $orange: #FF8103;

//breakpoints
//iphone
$screen-xxs:                 320px !default;
$screen-iphone:              $screen-xxs !default;

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-phone:               $screen-xs !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-tablet:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-desktop:             $screen-md !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-desktop:          $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:             ($screen-xs - 1) !default;
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;
