.music-box {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: auto;
}

.playlists {
  list-style-type: none;
  padding: 0;
  margin: 0;
  .playlist {
    width: 200px;
    height: 25px;
    padding: 0;
    margin: 2px auto;
  }
  .playlist-arrow {
    color: $orange;
    text-decoration: none;
    &:hover, &:active, &:focus, &:visited {
      color: $orange;
      text-decoration: none;
    }
  }
}


